version: "3.8"

services:
  # 1. ZOOKEEPER
  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.0
    container_name: zookeeper-prod
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "22181:2181"

  # 2. KAFKA
  kafka:
    image: confluentinc/cp-kafka:7.3.0
    container_name: kafka-prod
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      # Thay <PUBLIC_IP_EC2> bằng IP Public AWS của bạn sau này
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://3.107.102.127:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  # 3. POSTGRESQL DATABASE
  postgres:
    image: postgres:15-alpine
    container_name: postgres-prod
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: producer_logs
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  # 4. PRODUCER API
  api-producer:
    build: ./backend/api-gateway-producer
    container_name: api-producer-prod
    restart: always
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - KAFKA_BROKER=kafka:29092
      # Cấu hình DB
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USERNAME=admin
      - DB_PASSWORD=admin
      - DB_DATABASE=producer_logs
      - DB_SYNC=true # Tự tạo bảng
      - CONSUMER_SERVICE_URL=http://52.65.150.130:3001
    volumes:
      # Mount socket để điều khiển Docker
      - /var/run/docker.sock:/var/run/docker.sock
      # Mount file compose vào trong container để lệnh chạy được
      - ./docker-compose.prod.yml:/app/docker-compose.prod.yml
    depends_on:
      - kafka
      - postgres

  # 5. CONSUMER SERVICE
  consumer-service:
    build: ./backend/consumer-service
    restart: always
    environment:
      - PORT=3001
      - KAFKA_BROKER=kafka:29092
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USERNAME=admin
      - DB_PASSWORD=admin
      - DB_DATABASE=consumer_logs
      - DB_SYNC=true
    depends_on:
      - kafka
      - postgres

  # THÊM SERVICE NGINX (Làm cổng chính)
  nginx-lb:
    image: nginx:alpine
    ports:
      - "3001:80" # Map cổng 3001 của máy chủ vào cổng 80 của Nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - consumer-service

  # 6. FRONTEND
  frontend:
    build: ./frontend
    container_name: frontend-prod
    restart: always
    ports:
      - "80:80"
    depends_on:
      - api-producer

volumes:
  postgres_data:
