# Server Configuration
PORT=3000

# Kafka Configuration
KAFKA_BROKER=localhost:9092

# Consumer Service URL
CONSUMER_SERVICE_URL=http://localhost:3001

# Redis Configuration (for Bull Queue)
# Development (local): localhost
# Production (Docker): redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Database Configuration
DB_HOST=localhost
DB_PORT=5433
DB_USERNAME=admin
DB_PASSWORD=admin
DB_DATABASE=producer_logs
DB_SYNC=true

# Producer Service URL (for Consumer to call back)
PRODUCER_SERVICE_URL=http://localhost:3000
